<div class="card dashboard">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/api/v2/department/create">New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v2/department/update">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/api/v2/department/delete">Delete</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        {{#if error}}
        <div>
            <div class="alert alert-danger" role="alert">
                <p>{{error}}</p>
            </div>
        </div>
        {{/if}}
        {{#if success}}
        <div>
            <div class="alert alert-success" role="alert">
                <p>{{success}}</p>
            </div>
        </div>
        {{/if}}

        <div class="alert alert-warning" role="alert">
            <h3>Warning!</h3>
            If you remove a department here, you will not be able to access any patients associated with the department
            as a controller.
        </div>


        <form action="/api/v2/department/update" method="POST">
            {{#my_departments}}
            <div class="form-row">
                <div class="col-10">
                    <input type="text" class="form-control" name="{{name}}" id={{_id}} value="{{name}}" disabled>
                </div>
                <div class="col">
                    <span onclick="remove(this);" class="form-control text-center btn-danger">Delete</span>
                    <br>
                </div>
            </div>
            {{/my_departments}}

        </form>

        <script>
            function remove(element) {
                if (confirm("Are you sure you want to remove this department?")) {
                    document.location.href =
                        "/api/v2/department/delete/" +
                        element.parentElement.parentElement.children[0].firstElementChild.id
                }
            }
        </script>
    </div>
</div>


<style>
    .dashboard {
        margin: auto;
        padding: 0px;
        width: 70%;
    }

    @media only screen and (max-width: 600px) {
        .dashboard {
            width: 100%;
            margin: auto;
            padding: 0px;
        }
    }
</style>