<h1>Department Manager</h1>
{{#if error}}
<li>
    <div>
        {{!-- Danger Alert --}}
        <h3>Error</h3>
        <p>{{error}}</p>
    </div>
</li>
{{/if}}

{{#if success}}
<li>
    <div>
        {{!-- Success Alert --}}
        <h3>Success</h3>
        <p>{{success}}</p>
    </div>
</li>
{{/if}}


<form action="/api/v2/department/update" method="POST">
    <ul>
        <li><a href="/api/v2/department/create">New Department</a></li>
        <li><a href="/api/v2/department/delete">Delete Department</a></li>
        {{#my_departments}}
        <li>
            <label for="name"></label>
            <input type="text" name="{{name}}" id={{_id}} value="{{name}}" disabled>
            <span onclick="edit(this);">Edit</span>
        </li>
        {{/my_departments}}
    </ul>
</form>

<script>
    function edit(element) {
        if (element.innerHTML == "Save") {
            element.parentElement.children[1].disabled = true;
            element.innerHTML = "Edit";
            const new_id = element.parentElement.children[1].id;
            const new_value = element.parentElement.children[1].value;
            document.location.href =
                "/api/v2/department/update/" +
                new_id.toString() +
                "/" +
                new_value.toString();
            // TODO: Somehow submit this to the server as a change.....
        } else {
            element.parentElement.children[1].disabled = false;
            element.innerHTML = "Save";
        }
    }
</script>